@using Microsoft.AspNetCore.Identity
@using RCDT.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RCDT</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header ">
            <h3>RCDT</h3>
        </div>

        <ul class="list-unstyled components">
            
            <!--Admin Menu Options-->
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="AdminDashboard" asp-action="Index">
                        <span data-feather="users"></span> 
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">
                        Register Users
                    </a>
                </li>

            <!--Researcher Menu Options-->
            }
            @if (User.IsInRole("Researcher"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ResearcherDashboard" asp-action="Index">
                        <span data-feather="users"></span> 
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ResearcherDashboard" asp-action="ManageParticipants">
                        <span data-feather="file"></span> 
                        Manage Participants
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="RegisterParticipant">
                        Register Participants
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ResearcherDashboard" asp-action="CreateTask">
                        <span data-feather="bar-chart-2"></span>
                        Create Task
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span data-feather="layers"></span>
                        Settings
                    </a>
                </li>
            }

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">TBC</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">TBC</a>
                    </li>
                    <li>
                        <a href="#">TBC</a>
                    </li>
                    <li>
                        <a href="#">TBC</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content" class="fixed">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                @if (!User.IsInRole("Admin") && !User.IsInRole("Research Assistant") && !User.IsInRole("IRB Reviewer") && !User.IsInRole("Transcriber") && !User.IsInRole("Researcher") && !User.IsInRole("Participant"))
                {
                    <div class="nav-middle">
                        <a class="navbar-brand"><h2>RCDT</h2></a>
                    </div>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                }
                else
                {
                    <div class="nav-left">
                        <input type="image" src="~/images/hamburger_menu_icon.png" id="sbCollapse" style="width:40px;height:40px;"> 
                            <i class="fas fa-align-left"></i>
                        &nbsp
                    </div>
                    
                    <div class="nav-middle">
                        <a class="navbar-brand"><h2>RCDT</h2></a>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                }
                <div class="nav-left">

                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav" style="text-align:right">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logout" class="navbar-right">
                                    <input type="image" class="btn btn-link navbar-btn nav-link text-dark" value="Submit" src="~/images/logout.png" style="width:47px;height:50px;">
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    </div>

    <!---
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - RCDT
        </div>
    </footer>
    ---->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
