@{
    ViewData["Title"] = "Confirm Email";
}

 <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top:150px">
                <h4>Thank you for confirming your email</h4>
                <div class="form-group text-center">
                    <button class="btn btn-primary form-control" type="button" onclick="location.href='@Url.Action("Index" , "Home")'"> Go to home
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>