@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top:200px">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" name="Email" placeholder="'xxxx@xxxx'" id="email" required name="email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="Password" asp-for="Password" class="form-control" name="Password" placeholder="xxxxxxxxxxx" id="password" required name="password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!--
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                --->
                <div class="form-group">
                    <div class="col-md-offset-2" style="text-align:center;">
                        <input type="image" value="Submit" class="btn btn-default" src="~/images/login.png"/>
                        <input type="image" value="Cancel" class="btn btn-default" type="button" src="~/images/cancellogin.png" onclick="location.href='@Url.Action("Index" , "Home")'" />
                    </div>
                </div>
            </form>
        </section>
    </div>