@model RCDT.Models.ApplicationUser
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit Participants";
}

<div class="container">
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top:150px">
            <h5>Current User ID: @Model.ParticipantUserId</h5>  
            <h5>Current Session Key: @Model.UserName</h5>  
                <form asp-action="EditParticipant">
                    <div id="participantUserId" class="form-group">  
                        <input required name="ParticipantUserId" class="form-control" placeholder="Enter new User ID" />  
                        <span asp-validation-for="ParticipantUserId" class="text-danger"></span>  
                    </div>   
                    <div id="username" class="form-group">  
                        <input required name="UserName" class="form-control" placeholder="Enter new Session Key" id="seshKey" /> 
                        <span asp-validation-for="UserName" class="text-danger"></span>  
                    </div>      
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary form-control mb-2" onclick="randSessionKey();" >
                        Generate Session Key
                        </button>
                        <button type="submit" value="Save" class="btn btn-success form-control mb-2"> Save Changes
                        </button>
                        <button class="btn btn-primary form-control" type="button" onclick="location.href='@Url.Action("ManageUsers" , "AdminDashboard")'"> Cancel
                        </button>
                    </div>  
                </form>
            </div>
        </div>  
    </div>

    <script src="~/js/seshKeyGen.js"></script>