@{
    ViewData["Title"] = "Chessboard";
}
<head>
<script>
    function allowDrop(ev){
        ev.preventDefault();
    }
    function drag(ev){
        ev.dataTransfer.setData("text", ev.target_id);
    }
    function drop(){
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

</script>
 <style>
            .chess-board { border-spacing: 0; border-collapse: collapse; }
            .chess-board th { padding: .5em; }
            .chess-board td { border: 1px solid; width: 7em; height: 7em; }
            .chess-board .light { background: #eee; }
            .chess-board .dark { background: #000; }
</style>
</head>
    <body>
        <table class="chess-board">
            <tbody>
                <!---
                <tr>
                    <th></th>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                    <th>e</th>
                    <th>f</th>
                    <th>g</th>
                    <th>h</th>
                </tr>
                --->
                <tr>
                   <!-- <th>8</th> -->
                    <td class="light" id="8a">
                    <div class="light" id="8adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="8b">
                    <div class="dark" id="8bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="8c">
                    <div class="light" id="8cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="8d">
                    <div class="dark" id="8ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="8e">
                    <div class="light" id="8ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="dark" id="8f">
                    <div class="dark" id="8fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="8g">
                    <div class="light" id="8gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="8h">
                    <div class="dark" id="8hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>7</th> -->
                    <td class="dark" id="7a">
                    <div class="dark" id="7adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="7b">
                    <div class="light" id="7bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="7c">
                    <div class="dark" id="7cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="7d">
                    <div class="light" id="7ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="7e">
                    <div class="dark" id="7ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="7f">
                    <div class="light" id="7fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="7g">
                    <div class="dark" id="7gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="7h">
                    <div class="light" id="7hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>6</th> -->
                    <td class="light" id="6a">
                    <div class="light" id="6adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="6b">
                    <div class="dark" id="6bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="6c">
                    <div class="light" id="6cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="6d">
                    <div class="dark" id="6ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="6e">
                    <div class="light" id="6ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="dark" id="6f">
                    <div class="dark" id="6fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="6g">
                    <div class="light" id="6gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="6h">
                    <div class="dark" id="6hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>5</th> -->
                    <td class="dark" id="5a">
                    <div class="dark" id="5adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="5b">
                    <div class="light" id="5bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="5c">
                    <div class="dark" id="5cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="5d">
                    <div class="light" id="5ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="5e">
                    <div class="dark" id="5ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="5f">
                    <div class="light" id="5fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="5g">
                    <div class="dark" id="5gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="5h">
                    <div class="light" id="5hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>4</th> -->
                    <td class="light" id="4a">
                    <div class="light" id="4adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="4b">
                    <div class="dark" id="4bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="4c">
                    <div class="light" id="4cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="4d">
                    <div class="dark" id="4ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="4e">
                    <div class="light" id="4ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="dark" id="4f">
                    <div class="dark" id="4fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="4g">
                    <div class="light" id="4gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="4h">
                    <div class="dark" id="4hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>3</th> -->
                    <td class="dark" id="3a">
                    <div class="dark" id="3adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="3b">
                    <div class="light" id="3bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="3c">
                    <div class="dark" id="3cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="3d">
                    <div class="light" id="3ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="3e">
                    <div class="dark" id="3ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="light" id="3f">
                    <div class="light" id="3fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="3g">
                    <div class="dark" id="3gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="3h">
                    <div class="light" id="3hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>2</th> -->
                    <td class="light" id="2a">
                    <div class="light" id="2adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="2b">
                    <div class="dark" id="2bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="2c">
                    <div class="light" id="2cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="2d">
                    <div class="dark" id="2ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="2e">
                    <div class="light" id="2ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="dark" id="2f">
                    <div class="dark" id="2fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="2g">
                    <div class="light" id="2gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="2h">
                    <div class="dark" id="2hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
                <tr>
                    <!-- <th>1</th> -->
                    <td class="dark" id="1a">
                    <div class="dark" id="1adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="1b">
                    <div class="light" id="1bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="1c">
                    <div class="dark" id="1cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="1d">
                    <div class="light" id="1ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="1e">
                    <div class="dark" id="1ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                    
                    <td class="light" id="1f">
                    <div class="light" id="1fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="dark" id="1g">
                    <div class="dark" id="1gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>

                    <td class="light" id="1h">
                    <div class="light" id="1hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                    style="width:100%;height:100%"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
