@{
    ViewData["Title"] = "Chessboard";
}
<head>
    <script>

        var count = 0;
        function removeItem(data)
        {
            var child = document.getElementById(data);
            child.parentNode.removeChild(child);
            count--;
        }
        function allowDrop(ev)
        {
            ev.preventDefault();
        }
        function drag(ev)
        {
            ev.dataTransfer.setData("text", ev.target.id); console.log("I am dragged");
        }
        function drop_board(ev)
        {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            if (ev.target.isEqualNode(document.getElementById("itemBank")))
            {
            removeItem(data);
            } else {
            ev.target.appendChild(document.getElementById(data));
            console.log("I am dropped as original");
            }
        }
        function drop(ev) 
        {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");

            if (!document.getElementById(data).parentNode.isEqualNode(document.getElementById("itemBank")))
            {
            drop_board(ev);
            }
            else
            {
            var nodeCopy = document.getElementById(data).cloneNode(true);
            nodeCopy.id = "draggable" + count;
            count++;
            ev.target.appendChild(nodeCopy);
            console.log("I am dropped");
            }
        }

    </script>
    <style>
        .container { width: 100%; }
        .chess-board { table-layout: fixed; border-spacing: 0; border-collapse: collapse; }
        .chess-board td { table-layout: fixed; border: 1px solid; width: 6em; height: 6em; }
        .chess-board .light { background: #eee; }
        .chess-board .dark { background: #000; }
    </style>
</head>
<body>
        <table>
                <tr>
                        <td>
                                <div ondrop="drop(event)" ondragover="allowDrop(event)" id="itemBank" style="height:768px;width:100px;border:5px solid#000;">
                                    <img src="~/images/anchor.jpg" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="62">

                                    <img src="~/images/obj1.jpg" draggable="true" ondragstart="drag(event)" id="drag2" width="88" height="62">

                                    <img src="~/images/obj2.jpg" draggable="true" ondragstart="drag(event)" id="drag3" width="88" height="62">

                                    <img src="~/images/obj3.jpg" draggable="true" ondragstart="drag(event)" id="drag4" width="88" height="62">
                                </div>
                        </td>
                        <td>
                                <table class="chess-board">   
                                        <tr>
                                                <td class="light" id="8a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="8adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="8b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="8bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="8c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="8cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="8d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="8ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="8e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="8ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="8f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="8fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="8g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="8gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="8h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="8hdiv" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                </div>
                                                </td>

                                        </tr>
                                        <tr>
                                                <!-- <th>7</th> -->
                                                <td class="dark" id="7a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="7adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="light" id="7b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="7bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="dark" id="7c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="7cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="light" id="7d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="7ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="dark" id="7e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="7ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="light" id="7f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="7fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="dark" id="7g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="7gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                                <td class="light" id="7h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="7hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>6</th> -->
                                                <td class="light" id="6a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="6adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="6b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="6bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="6c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="6cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="6d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="6ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="6e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="6ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="6f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="6fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="6g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="6gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="6h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="6hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>5</th> -->
                                                <td class="dark" id="5a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="5adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="5b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="5bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="5c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="5cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="5d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="5ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="5e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="5ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="5f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="5fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="5g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="5gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="5h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="5hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>4</th> -->
                                                <td class="light" id="4a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="4adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="4b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="4bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="4c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="4cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="4d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="4ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="4e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="4ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="4f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="4fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="4g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="4gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="4h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="4hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>3</th> -->
                                                <td class="dark" id="3a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="3adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="3b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="3bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="3c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="3cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="3d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="3ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="3e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="3ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="3f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="3fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="3g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="3gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="3h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="3hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>2</th> -->
                                                <td class="light" id="2a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="2adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="2b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="2bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="2c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="2cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="2d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="2ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="2e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="2ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="2f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="2fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="2g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="2gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="2h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="2hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                        <tr>
                                                <!-- <th>1</th> -->
                                                <td class="dark" id="1a" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="1adiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="1b" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="1bdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="1c" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="1cdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="1d" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="1ddiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="1e" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="1ediv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="1f" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="1fdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="dark" id="1g" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="dark" id="1gdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>

                                                <td class="light" id="1h" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                <div class="light" id="1hdiv" ondrop="drop(event)" ondragover="allowDrop(event)"
                                                ></div>
                                                </td>
                                        </tr>
                                </table>
                        </td>
                        <td>
                                <div id="chatBox" style="height:730px;width:360px;border:5px solid#000;overflow-y:scroll;">
                                    <!-- Temporary ul --->
                                <!--<ul id="messagesList"></ul> -->
                                </div>
                                <div id="enterMessage" style="margin-top:2px"> 
                                    <fieldset>
                                        <input type="text" placeholder="......" autofocus id="messageInput" style="width:295px;height:36px;"/>
                                        <input type="image" src="~/images/send.png" value="Send Message" class="btn btn-default" id="sendButton" style="width:60px;height:40px;"/>
                                    </fieldset>
                                </div>
                        </td>
                </tr>
        </table>
</body>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
