<body>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="ResearcherDashboard" asp-action="ManageParticipants">
                  <span data-feather="file"></span>
                  Manage Participants
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="RegisterParticipant">
                  Register Participants
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <span data-feather="users"></span>
                  Manage Tasks
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area=""
                asp-controller="ResearcherDashboard" asp-action="CreateTask">
                  <span data-feather="bar-chart-2"></span>
                  Create Task
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <span data-feather="layers"></span>
                  Settings
                </a>
              </li>
            </ul>
    </div>
</body>