@model IEnumerable<RCDT.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Manage Participant";
}

<div class="row">
  <div class="col-md-4"></div>
  <div style="text-align:center"><h5><b>Participant List</b></h5></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="manage-table">
      <table id="participantTable" class="table table-hover" style="width: 0px; margin-right: 10px;">
        <thead>
          <tr>
            <th>Participant ID</th>
            <th>Session Key</th>
            <th>Role</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var user in Model)
          {
            @if (user.Role == "Participant")
            {
              <tr>
                <td>@Html.DisplayFor(modelItem => user.ParticipantUserId)</td>
                <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                <td>@Html.DisplayFor(modelItem => user.TaskSessionID)</td>
                <td>@Html.DisplayFor(modelItem => user.Role)</td>
              </tr>
            }
          }
      </table>
    </div>
  </div>
</div>