@model RCDT.Models.LoginModel

@{
    ViewData["Title"] = "Login Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-top:150px">
                <h3>Log in</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Enter Username" id="username" required name="username">
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" id="password" required name="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary form-control mb-2">
                        Login
                    </button>
                    <button class="btn btn-primary form-control" type="button" onclick="location.href='@Url.Action("Index" , "Home")'"> Cancel
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}