@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

  <div class="container mt-2">
    <div style="margin-top:50px">
      <div class="text-center" style="margin-top:200px">
        <h1 class="display-4">RCDT</h1>

        @if (!SignInManager.IsSignedIn(User))
        {
          <div class="col-md-12">
            <a class="button" asp-controller="Account" asp-action="LoginParticipant">
            <img src="~/images/participant.png" id="participantImage" style="width:80px;height:70px;" />
            </a>
          </div>
        }
        else
        {
          <div class="col-md-12">
            <a class="button">
            <img src="~/images/participant.png" id="participantImage" style="width:80px;height:70px;" />
            </a>
          </div>
        }
      </div>
    </div>
  </div>
