@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a.navbar-brand {
  white-space: normal;
  text-align: left;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*body {

}*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: black;
    border-color: white;
}

.userIDForm {
  width: 200px;
}

.seshKeyForm {
  width: 200px;
}

.btn-default {
  border-color: white;
  color: white;
}

#homeImage {
  width: 45px;
  height: 45px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar {
  position: fixed;
  top: 67px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: white;
}


.sidebar-sticky {
  position: relative;
  top: 67px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: white;
} */



.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color:white;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 0px; /* Space for fixed navbar */
}


.manage-table
{
  margin: 0 auto;
  width: 620px;
}

#wrapperButton
{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#divideButton
{
  width: 8px;
  height: auto;
  display: inline-block;
}

/* #deleteWrapper
{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
} */

.wrapper {
  display: flex;
  max-width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body#homePage {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
}

#sidebar.active {
  margin-left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content {
  width: 100%;
}

td {
  width: 25%;
}

td.task {
  width: 18%;
}


td.button {
  width: 100%;
}

/* navbar */
.navbar.navbar-expand-lg.navbar-light{
  background: white;
}
.navbar .navbar-brand {
  color: rgb(0, 0, 0);
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #0099ff;
}
.navbar .navbar-text {
  color: rgb(89, 171, 191);
}
.navbar .navbar-text a {
  color: #151313;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #151313; 
}
.navbar .navbar-nav .nav-link {
  color: #59abbf;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #151313;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #151313;
  background-color: #f0e1e0;
}
.navbar .navbar-toggle {
  border-color: #f0e1e0;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f0e1e0;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #59abbf;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #59abbf;
}
.navbar .navbar-link {
  color: #59abbf;
}
.navbar .navbar-link:hover {
  color: #151313;
}

#navbar{
  background: rgb(0, 210, 255, 0.2);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(58, 123, 213, 0.2), rgb(0, 210, 255 0.2));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(58, 123, 213, 0.2), rgb(0, 210, 255, 0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  margin-top: -100px;
  visibility: hidden;
  height: 50px;
}

#dummy {
  margin-top: 100px;
  opacity: 0.0;
}
